<p>
  De: Cátedra Sérgio Vieira de Mello – PUC Minas
  <br>
  Para: ({{dest.instName}})
  
  <br><br>
  Estimado (a) senhor (a)
  <br><br>
  A Cátedra Sérgio Vieira de Mello da PUC Minas encaminha para atendimento da Faculdade de psicologia, {{ref.name}}, natural de {{ref.country}}, que solicitou auxílio de seu setor. Para entrar em contato com o solicitante ligue para o número {{ref.phoneNumber}}, ou envie um e-mail para {{ref.email}}.

  {% if details %}
  <br>
  Para mais detalhes, enviamos nossas observações sobre o atendimento logo abaixo:
  {{details}}
  {% endif %}

  <br><br>
  Ficamos muito agradecidos pelo seu apoio e nos colocamos à disposição para auxiliar no que for preciso.
  <br>
  Atenciosamente
  <br>
  Cátedra Sérgio Vieira de Mello – PUC Minas
  <br>
  Prédio 47
  <br>
  Instituto de Ciências Sociais (ICS)
</p>