<option value="Albanês" {% if compare == 'Albanês' %}selected{% endif %}>Albanês</option>
<option value="Alemão" {% if compare == 'Alemão' %}selected{% endif %}>Alemão</option>
<option value="Árabe" {% if compare == 'Árabe' %}selected{% endif %}>Árabe</option>
<option value="Armênio" {% if compare == 'Armênio' %}selected{% endif %}>Armênio</option>
<option value="Catalão" {% if compare == 'Catalão' %}selected{% endif %}>Catalão</option>
<option value="Chinês" {% if compare == 'Chinês' %}selected{% endif %}>Chinês</option>
<option value="Coreano" {% if compare == 'Coreano' %}selected{% endif %}>Coreano</option>
<option value="Croata" {% if compare == 'Croata' %}selected{% endif %}>Croata</option>
<option value="Dinamarquês" {% if compare == 'Dinamarquês' %}selected{% endif %}>Dinamarquês</option>
<option value="Eslovaco" {% if compare == 'Eslovaco' %}selected{% endif %}>Eslovaco</option>
<option value="Esloveno" {% if compare == 'Esloveno' %}selected{% endif %}>Esloveno</option>
<option value="Filipino" {% if compare == 'Filipino' %}selected{% endif %}>Filipino</option>
<option value="Francês" {% if compare == 'Francês' %}selected{% endif %}>Francês</option>
<option value="Galego" {% if compare == 'Galego' %}selected{% endif %}>Galego</option>
<option value="Galês" {% if compare == 'Galês' %}selected{% endif %}>Galês</option>
<option value="Grego" {% if compare == 'Grego' %}selected{% endif %}>Grego</option>
<option value="Hindu" {% if compare == 'Hindu' %}selected{% endif %}>Hindu</option>
<option value="Holandês" {% if compare == 'Holandês' %}selected{% endif %}>Holandês</option>
<option value="Húngaro" {% if compare == 'Húngaro' %}selected{% endif %}>Húngaro</option>
<option value="Inglês" {% if compare == 'Inglês' %}selected{% endif %}>Inglês</option>
<option value="Irlandês" {% if compare == 'Irlandês' %}selected{% endif %}>Irlandês</option>
<option value="Italiano" {% if compare == 'Italiano' %}selected{% endif %}>Italiano</option>
<option value="Japonês" {% if compare == 'Japonês' %}selected{% endif %}>Japonês</option>
<option value="Letão" {% if compare == 'Letão' %}selected{% endif %}>Letão</option>
<option value="Língua crioula haitiana" {% if compare == 'Língua crioula haitiana' %}selected{% endif %}>Língua crioula haitiana</option>
<option value="Língua curda" {% if compare == 'Língua curda' %}selected{% endif %}>Língua curda</option>
<option value="Lituano" {% if compare == 'Lituano' %}selected{% endif %}>Lituano</option>
<option value="Maltês" {% if compare == 'Maltês' %}selected{% endif %}>Maltês</option>
<option value="Norueguês" {% if compare == 'Norueguês' %}selected{% endif %}>Norueguês</option>
<option value="Persa" {% if compare == 'Persa' %}selected{% endif %}>Persa</option>
<option value="Persa" {% if compare == 'Persa' %}selected{% endif %}>Persa</option>
<option value="Polaco" {% if compare == 'Polaco' %}selected{% endif %}>Polaco</option>
<option value="Portugês" {% if compare == 'Portugês' %}selected{% endif %}>Portugês</option>
<option value="Russo" {% if compare == 'Russo' %}selected{% endif %}>Russo</option>
<option value="Sérvio" {% if compare == 'Sérvio' %}selected{% endif %}>Sérvio</option>
<option value="Suaíli" {% if compare == 'Suaíli' %}selected{% endif %}>Suaíli</option>
<option value="Sueco" {% if compare == 'Sueco' %}selected{% endif %}>Sueco</option>
<option value="Tailandês" {% if compare == 'Tailandês' %}selected{% endif %}>Tailandês</option>
<option value="Turco" {% if compare == 'Turco' %}selected{% endif %}>Turco</option>
<option value="Ucraniano" {% if compare == 'Ucraniano' %}selected{% endif %}>Ucraniano</option>
<option value="Urdu" {% if compare == 'Urdu' %}selected{% endif %}>Urdu</option>