<option value="Afeganistão" {% if compare == 'Afeganistão' %}selected{% endif %}>Afeganistão</option>
<option value="África do Sul" {% if compare == 'África do Sul' %}selected{% endif %}>África do Sul</option>
<option value="Albânia" {% if compare == 'Albânia' %}selected{% endif %}>Albânia</option>
<option value="Alemanha" {% if compare == 'Alemanha' %}selected{% endif %}>Alemanha</option>
<option value="Andorra" {% if compare == 'Andorra' %}selected{% endif %}>Andorra</option>
<option value="Angola" {% if compare == 'Angola' %}selected{% endif %}>Angola</option>
<option value="Antígua e Barbuda" {% if compare == 'Antígua e Barbuda' %}selected{% endif %}>Antígua e Barbuda</option>
<option value="Arábia Saudita" {% if compare == 'Arábia Saudita' %}selected{% endif %}>Arábia Saudita</option>
<option value="Argélia" {% if compare == 'Argélia' %}selected{% endif %}>Argélia</option>
<option value="Argentina" {% if compare == 'Argentina' %}selected{% endif %}>Argentina</option>
<option value="Armênia" {% if compare == 'Armênia' %}selected{% endif %}>Armênia</option>
<option value="Austrália" {% if compare == 'Austrália' %}selected{% endif %}>Austrália</option>
<option value="Áustria" {% if compare == 'Áustria' %}selected{% endif %}>Áustria</option>
<option value="Azerbaijão" {% if compare == 'Azerbaijão' %}selected{% endif %}>Azerbaijão</option>
<option value="Bahamas" {% if compare == 'Bahamas' %}selected{% endif %}>Bahamas</option>
<option value="Bahrein " {% if compare == 'Bahrein ' %}selected{% endif %}>Bahrein </option>
<option value="Bangladesh" {% if compare == 'Bangladesh' %}selected{% endif %}>Bangladesh</option>
<option value="Barbados" {% if compare == 'Barbados' %}selected{% endif %}>Barbados</option>
<option value="Bélgica" {% if compare == 'Bélgica' %}selected{% endif %}>Bélgica</option>
<option value="Belize" {% if compare == 'Belize' %}selected{% endif %}>Belize</option>
<option value="Benim" {% if compare == 'Benim' %}selected{% endif %}>Benim</option>
<option value="Bielorrússia" {% if compare == 'Bielorrússia' %}selected{% endif %}>Bielorrússia</option>
<option value="Bolívia" {% if compare == 'Bolívia' %}selected{% endif %}>Bolívia</option>
<option value="Bósnia e Herzegovina" {% if compare == 'Bósnia e Herzegovina' %}selected{% endif %}>Bósnia e Herzegovina</option>
<option value="Botswana " {% if compare == 'Botswana ' %}selected{% endif %}>Botswana </option>
<option value="Brasil" {% if compare == 'Brasil' %}selected{% endif %}>Brasil</option>
<option value="Brunei" {% if compare == 'Brunei' %}selected{% endif %}>Brunei</option>
<option value="Bulgária" {% if compare == 'Bulgária' %}selected{% endif %}>Bulgária</option>
<option value="Burkina Faso" {% if compare == 'Burkina Faso' %}selected{% endif %}>Burkina Faso</option>
<option value="Burundi" {% if compare == 'Burundi' %}selected{% endif %}>Burundi</option>
<option value="Butão" {% if compare == 'Butão' %}selected{% endif %}>Butão</option>
<option value="Cabo Verde" {% if compare == 'Cabo Verde' %}selected{% endif %}>Cabo Verde</option>
<option value="Camarões" {% if compare == 'Camarões' %}selected{% endif %}>Camarões</option>
<option value="Camboja" {% if compare == 'Camboja' %}selected{% endif %}>Camboja</option>
<option value="Canadá" {% if compare == 'Canadá' %}selected{% endif %}>Canadá</option>
<option value="Catar " {% if compare == 'Catar ' %}selected{% endif %}>Catar </option>
<option value="Cazaquistão" {% if compare == 'Cazaquistão' %}selected{% endif %}>Cazaquistão</option>
<option value="Chade" {% if compare == 'Chade' %}selected{% endif %}>Chade</option>
<option value="Chile" {% if compare == 'Chile' %}selected{% endif %}>Chile</option>
<option value="China" {% if compare == 'China' %}selected{% endif %}>China</option>
<option value="Chipre" {% if compare == 'Chipre' %}selected{% endif %}>Chipre</option>
<option value="Singapura" {% if compare == 'Singapura' %}selected{% endif %}>Singapura</option>
<option value="Colômbia" {% if compare == 'Colômbia' %}selected{% endif %}>Colômbia</option>
<option value="Comores" {% if compare == 'Comores' %}selected{% endif %}>Comores</option>
<option value="Congo" {% if compare == 'Congo' %}selected{% endif %}>Congo</option>
<option value="Coreia do Norte" {% if compare == 'Coreia do Norte' %}selected{% endif %}>Coreia do Norte</option>
<option value="Coreia do Sul" {% if compare == 'Coreia do Sul' %}selected{% endif %}>Coreia do Sul</option>
<option value="Costa do Marfim" {% if compare == 'Costa do Marfim' %}selected{% endif %}>Costa do Marfim</option>
<option value="Costa Rica" {% if compare == 'Costa Rica' %}selected{% endif %}>Costa Rica</option>
<option value="Croácia" {% if compare == 'Croácia' %}selected{% endif %}>Croácia</option>
<option value="Cuba" {% if compare == 'Cuba' %}selected{% endif %}>Cuba</option>
<option value="Dinamarca" {% if compare == 'Dinamarca' %}selected{% endif %}>Dinamarca</option>
<option value="Djibouti" {% if compare == 'Djibouti' %}selected{% endif %}>Djibouti</option>
<option value="Dominica" {% if compare == 'Dominica' %}selected{% endif %}>Dominica</option>
<option value="Egito" {% if compare == 'Egito' %}selected{% endif %}>Egito</option>
<option value="El Salvador" {% if compare == 'El Salvador' %}selected{% endif %}>El Salvador</option>
<option value="Emirados Árabes Unidos" {% if compare == 'Emirados Árabes Unidos' %}selected{% endif %}>Emirados Árabes Unidos</option>
<option value="Equador" {% if compare == 'Equador' %}selected{% endif %}>Equador</option>
<option value="Eritreia" {% if compare == 'Eritreia' %}selected{% endif %}>Eritreia</option>
<option value="Escócia" {% if compare == 'Escócia' %}selected{% endif %}>Escócia</option>
<option value="Eslováquia" {% if compare == 'Eslováquia' %}selected{% endif %}>Eslováquia</option>
<option value="Eslovênia" {% if compare == 'Eslovênia' %}selected{% endif %}>Eslovênia</option>
<option value="Espanha" {% if compare == 'Espanha' %}selected{% endif %}>Espanha</option>
<option value="Estados Federados da Micronésia" {% if compare == 'Estados Federados da Micronésia' %}selected{% endif %}>Estados Federados da Micronésia</option>
<option value="Estados Unidos da América" {% if compare == 'Estados Unidos da América' %}selected{% endif %}>Estados Unidos da América</option>
<option value="Estônia" {% if compare == 'Estônia' %}selected{% endif %}>Estônia</option>
<option value="Eswatini " {% if compare == 'Eswatini ' %}selected{% endif %}>Eswatini </option>
<option value="Etiópia" {% if compare == 'Etiópia' %}selected{% endif %}>Etiópia</option>
<option value="Fiji" {% if compare == 'Fiji' %}selected{% endif %}>Fiji</option>
<option value="Filipinas" {% if compare == 'Filipinas' %}selected{% endif %}>Filipinas</option>
<option value="Finlândia" {% if compare == 'Finlândia' %}selected{% endif %}>Finlândia</option>
<option value="França" {% if compare == 'França' %}selected{% endif %}>França</option>
<option value="Gabão" {% if compare == 'Gabão' %}selected{% endif %}>Gabão</option>
<option value="Gâmbia" {% if compare == 'Gâmbia' %}selected{% endif %}>Gâmbia</option>
<option value="Gana" {% if compare == 'Gana' %}selected{% endif %}>Gana</option>
<option value="Geórgia" {% if compare == 'Geórgia' %}selected{% endif %}>Geórgia</option>
<option value="Granada" {% if compare == 'Granada' %}selected{% endif %}>Granada</option>
<option value="Grécia" {% if compare == 'Grécia' %}selected{% endif %}>Grécia</option>
<option value="Guatemala" {% if compare == 'Guatemala' %}selected{% endif %}>Guatemala</option>
<option value="Guiana" {% if compare == 'Guiana' %}selected{% endif %}>Guiana</option>
<option value="Guiné" {% if compare == 'Guiné' %}selected{% endif %}>Guiné</option>
<option value="Guiné-Bissau" {% if compare == 'Guiné-Bissau' %}selected{% endif %}>Guiné-Bissau</option>
<option value="Guiné Equatorial" {% if compare == 'Guiné Equatorial' %}selected{% endif %}>Guiné Equatorial</option>
<option value="Haiti" {% if compare == 'Haiti' %}selected{% endif %}>Haiti</option>
<option value="Holanda" {% if compare == 'Holanda' %}selected{% endif %}>Holanda</option>
<option value="Honduras" {% if compare == 'Honduras' %}selected{% endif %}>Honduras</option>
<option value="Hungria" {% if compare == 'Hungria' %}selected{% endif %}>Hungria</option>
<option value="Iêmen" {% if compare == 'Iêmen' %}selected{% endif %}>Iêmen</option>
<option value="Índia" {% if compare == 'Índia' %}selected{% endif %}>Índia</option>
<option value="Indonésia" {% if compare == 'Indonésia' %}selected{% endif %}>Indonésia</option>
<option value="Inglaterra" {% if compare == 'Inglaterra' %}selected{% endif %}>Inglaterra</option>
<option value="Irã" {% if compare == 'Irã' %}selected{% endif %}>Irã</option>
<option value="Iraque" {% if compare == 'Iraque' %}selected{% endif %}>Iraque</option>
<option value="Irlanda do Norte" {% if compare == 'Irlanda do Norte' %}selected{% endif %}>Irlanda do Norte</option>
<option value="Irlanda" {% if compare == 'Irlanda' %}selected{% endif %}>Irlanda</option>
<option value="Islândia" {% if compare == 'Islândia' %}selected{% endif %}>Islândia</option>
<option value="Israel" {% if compare == 'Israel' %}selected{% endif %}>Israel</option>
<option value="Itália" {% if compare == 'Itália' %}selected{% endif %}>Itália</option>
<option value="Jamaica" {% if compare == 'Jamaica' %}selected{% endif %}>Jamaica</option>
<option value="Japão" {% if compare == 'Japão' %}selected{% endif %}>Japão</option>
<option value="Jordânia" {% if compare == 'Jordânia' %}selected{% endif %}>Jordânia</option>
<option value="Kiribati " {% if compare == 'Kiribati ' %}selected{% endif %}>Kiribati </option>
<option value="Kosovo" {% if compare == 'Kosovo' %}selected{% endif %}>Kosovo</option>
<option value="Kuwait" {% if compare == 'Kuwait' %}selected{% endif %}>Kuwait</option>
<option value="Laos" {% if compare == 'Laos' %}selected{% endif %}>Laos</option>
<option value="Lesoto" {% if compare == 'Lesoto' %}selected{% endif %}>Lesoto</option>
<option value="Letônia" {% if compare == 'Letônia' %}selected{% endif %}>Letônia</option>
<option value="Líbano" {% if compare == 'Líbano' %}selected{% endif %}>Líbano</option>
<option value="Libéria" {% if compare == 'Libéria' %}selected{% endif %}>Libéria</option>
<option value="Líbia" {% if compare == 'Líbia' %}selected{% endif %}>Líbia</option>
<option value="Liechtenstein " {% if compare == 'Liechtenstein ' %}selected{% endif %}>Liechtenstein </option>
<option value="Lituânia" {% if compare == 'Lituânia' %}selected{% endif %}>Lituânia</option>
<option value="Luxemburgo" {% if compare == 'Luxemburgo' %}selected{% endif %}>Luxemburgo</option>
<option value="Macedônia do Norte" {% if compare == 'Macedônia do Norte' %}selected{% endif %}>Macedônia do Norte</option>
<option value="Madagascar " {% if compare == 'Madagascar ' %}selected{% endif %}>Madagascar </option>
<option value="Malásia" {% if compare == 'Malásia' %}selected{% endif %}>Malásia</option>
<option value="Malawi " {% if compare == 'Malawi ' %}selected{% endif %}>Malawi </option>
<option value="Maldivas" {% if compare == 'Maldivas' %}selected{% endif %}>Maldivas</option>
<option value="Mali" {% if compare == 'Mali' %}selected{% endif %}>Mali</option>
<option value="Malta" {% if compare == 'Malta' %}selected{% endif %}>Malta</option>
<option value="Marrocos" {% if compare == 'Marrocos' %}selected{% endif %}>Marrocos</option>
<option value="Marshall" {% if compare == 'Marshall' %}selected{% endif %}>Marshall</option>
<option value="Maurícia" {% if compare == 'Maurícia' %}selected{% endif %}>Maurícia</option>
<option value="Mauritânia" {% if compare == 'Mauritânia' %}selected{% endif %}>Mauritânia</option>
<option value="México" {% if compare == 'México' %}selected{% endif %}>México</option>
<option value="Mianmar" {% if compare == 'Mianmar' %}selected{% endif %}>Mianmar</option>
<option value="Micronésia" {% if compare == 'Micronésia' %}selected{% endif %}>Micronésia</option>
<option value="Moçambique" {% if compare == 'Moçambique' %}selected{% endif %}>Moçambique</option>
<option value="Moldávia" {% if compare == 'Moldávia' %}selected{% endif %}>Moldávia</option>
<option value="Mônaco" {% if compare == 'Mônaco' %}selected{% endif %}>Mônaco</option>
<option value="Mongólia" {% if compare == 'Mongólia' %}selected{% endif %}>Mongólia</option>
<option value="Montenegro" {% if compare == 'Montenegro' %}selected{% endif %}>Montenegro</option>
<option value="Namíbia" {% if compare == 'Namíbia' %}selected{% endif %}>Namíbia</option>
<option value="Nauru" {% if compare == 'Nauru' %}selected{% endif %}>Nauru</option>
<option value="Nepal" {% if compare == 'Nepal' %}selected{% endif %}>Nepal</option>
<option value="Nicarágua" {% if compare == 'Nicarágua' %}selected{% endif %}>Nicarágua</option>
<option value="Níger" {% if compare == 'Níger' %}selected{% endif %}>Níger</option>
<option value="Nigéria" {% if compare == 'Nigéria' %}selected{% endif %}>Nigéria</option>
<option value="Noruega" {% if compare == 'Noruega' %}selected{% endif %}>Noruega</option>
<option value="Nova Zelândia" {% if compare == 'Nova Zelândia' %}selected{% endif %}>Nova Zelândia</option>
<option value="Omã" {% if compare == 'Omã' %}selected{% endif %}>Omã</option>
<option value="País de Gales" {% if compare == 'País de Gales' %}selected{% endif %}>País de Gales</option>
<option value="Palau" {% if compare == 'Palau' %}selected{% endif %}>Palau</option>
<option value="Palestina" {% if compare == 'Palestina' %}selected{% endif %}>Palestina</option>
<option value="Panamá" {% if compare == 'Panamá' %}selected{% endif %}>Panamá</option>
<option value="Papua-Nova Guiné" {% if compare == 'Papua-Nova Guiné' %}selected{% endif %}>Papua-Nova Guiné</option>
<option value="Paquistão" {% if compare == 'Paquistão' %}selected{% endif %}>Paquistão</option>
<option value="Paraguai" {% if compare == 'Paraguai' %}selected{% endif %}>Paraguai</option>
<option value="Peru" {% if compare == 'Peru' %}selected{% endif %}>Peru</option>
<option value="Polônia" {% if compare == 'Polônia' %}selected{% endif %}>Polônia</option>
<option value="Portugal" {% if compare == 'Portugal' %}selected{% endif %}>Portugal</option>
<option value="Quênia" {% if compare == 'Quênia' %}selected{% endif %}>Quênia</option>
<option value="Quirguistão" {% if compare == 'Quirguistão' %}selected{% endif %}>Quirguistão</option>
<option value="Quiribati " {% if compare == 'Quiribati ' %}selected{% endif %}>Quiribati </option>
<option value="Reino Unido" {% if compare == 'Reino Unido' %}selected{% endif %}>Reino Unido</option>
<option value="República Árabe Saaraui Democrática" {% if compare == 'República Árabe Saaraui Democrática' %}selected{% endif %}>República Árabe Saaraui Democrática</option>
<option value="República Centro-Africana" {% if compare == 'República Centro-Africana' %}selected{% endif %}>República Centro-Africana</option>
<option value="República Democrática do Congo" {% if compare == 'República Democrática do Congo' %}selected{% endif %}>República Democrática do Congo</option>
<option value="República do Congo" {% if compare == 'República do Congo' %}selected{% endif %}>República do Congo</option>
<option value="República Dominicana" {% if compare == 'República Dominicana' %}selected{% endif %}>República Dominicana</option>
<option value="República Tcheca " {% if compare == 'República Tcheca ' %}selected{% endif %}>República Tcheca </option>
<option value="República Turca de Chipre do Norte" {% if compare == 'República Turca de Chipre do Norte' %}selected{% endif %}>República Turca de Chipre do Norte</option>
<option value="Romênia" {% if compare == 'Romênia' %}selected{% endif %}>Romênia</option>
<option value="Ruanda" {% if compare == 'Ruanda' %}selected{% endif %}>Ruanda</option>
<option value="Rússia" {% if compare == 'Rússia' %}selected{% endif %}>Rússia</option>
<option value="Salomão" {% if compare == 'Salomão' %}selected{% endif %}>Salomão</option>
<option value="Samoa" {% if compare == 'Samoa' %}selected{% endif %}>Samoa</option>
<option value="San Marino" {% if compare == 'San Marino' %}selected{% endif %}>San Marino</option>
<option value="Santa Lúcia" {% if compare == 'Santa Lúcia' %}selected{% endif %}>Santa Lúcia</option>
<option value="São Cristóvão e Névis " {% if compare == 'São Cristóvão e Névis ' %}selected{% endif %}>São Cristóvão e Névis </option>
<option value="São Tomé e Príncipe" {% if compare == 'São Tomé e Príncipe' %}selected{% endif %}>São Tomé e Príncipe</option>
<option value="São Vicente e Granadinas" {% if compare == 'São Vicente e Granadinas' %}selected{% endif %}>São Vicente e Granadinas</option>
<option value="Senegal" {% if compare == 'Senegal' %}selected{% endif %}>Senegal</option>
<option value="Serra Leoa" {% if compare == 'Serra Leoa' %}selected{% endif %}>Serra Leoa</option>
<option value="Sérvia" {% if compare == 'Sérvia' %}selected{% endif %}>Sérvia</option>
<option value="Seychelles " {% if compare == 'Seychelles ' %}selected{% endif %}>Seychelles </option>
<option value="Singapura " {% if compare == 'Singapura ' %}selected{% endif %}>Singapura </option>
<option value="Síria" {% if compare == 'Síria' %}selected{% endif %}>Síria</option>
<option value="Somália" {% if compare == 'Somália' %}selected{% endif %}>Somália</option>
<option value="Sri Lanka" {% if compare == 'Sri Lanka' %}selected{% endif %}>Sri Lanka</option>
<option value="Sudão do Sul" {% if compare == 'Sudão do Sul' %}selected{% endif %}>Sudão do Sul</option>
<option value="Sudão" {% if compare == 'Sudão' %}selected{% endif %}>Sudão</option>
<option value="Suécia" {% if compare == 'Suécia' %}selected{% endif %}>Suécia</option>
<option value="Suíça" {% if compare == 'Suíça' %}selected{% endif %}>Suíça</option>
<option value="Suriname" {% if compare == 'Suriname' %}selected{% endif %}>Suriname</option>
<option value="Tailândia" {% if compare == 'Tailândia' %}selected{% endif %}>Tailândia</option>
<option value="Taiwan" {% if compare == 'Taiwan' %}selected{% endif %}>Taiwan</option>
<option value="Tajiquistão " {% if compare == 'Tajiquistão ' %}selected{% endif %}>Tajiquistão </option>
<option value="Tanzânia" {% if compare == 'Tanzânia' %}selected{% endif %}>Tanzânia</option>
<option value="Timor-Leste" {% if compare == 'Timor-Leste' %}selected{% endif %}>Timor-Leste</option>
<option value="Togo" {% if compare == 'Togo' %}selected{% endif %}>Togo</option>
<option value="Tonga" {% if compare == 'Tonga' %}selected{% endif %}>Tonga</option>
<option value="Trinidad e Tobago" {% if compare == 'Trinidad e Tobago' %}selected{% endif %}>Trinidad e Tobago</option>
<option value="Tunísia" {% if compare == 'Tunísia' %}selected{% endif %}>Tunísia</option>
<option value="Turcomenistão " {% if compare == 'Turcomenistão ' %}selected{% endif %}>Turcomenistão </option>
<option value="Turquia" {% if compare == 'Turquia' %}selected{% endif %}>Turquia</option>
<option value="Tuvalu" {% if compare == 'Tuvalu' %}selected{% endif %}>Tuvalu</option>
<option value="Ucrânia" {% if compare == 'Ucrânia' %}selected{% endif %}>Ucrânia</option>
<option value="Uganda" {% if compare == 'Uganda' %}selected{% endif %}>Uganda</option>
<option value="Uruguai" {% if compare == 'Uruguai' %}selected{% endif %}>Uruguai</option>
<option value="Uzbequistão" {% if compare == 'Uzbequistão' %}selected{% endif %}>Uzbequistão</option>
<option value="Vanuatu" {% if compare == 'Vanuatu' %}selected{% endif %}>Vanuatu</option>
<option value="Venezuela" {% if compare == 'Venezuela' %}selected{% endif %}>Venezuela</option>
<option value="Vietnã " {% if compare == 'Vietnã ' %}selected{% endif %}>Vietnã </option>
<option value="Zâmbia" {% if compare == 'Zâmbia' %}selected{% endif %}>Zâmbia</option>
<option value="Zimbábue" {% if compare == 'Zimbábue' %}selected{% endif %}>Zimbábue</option>