<option value="Administrador" {% if compare == 'Administrador' %}selected{% endif %}>Administrador</option>
<option value="Advogado" {% if compare == 'Advogado' %}selected{% endif %}>Advogado</option>
<option value="Agricultor" {% if compare == 'Agricultor' %}selected{% endif %}>Agricultor</option>
<option value="Agropecuarista" {% if compare == 'Agropecuarista' %}selected{% endif %}>Agropecuarista</option>
<option value="Agrônomo" {% if compare == 'Agrônomo' %}selected{% endif %}>Agrônomo</option>
<option value="Analista e desenvolvedor de sistemas" {% if compare == 'Analista e desenvolvedor de sistemas' %}selected{% endif %}>Analista e desenvolvedor de sistemas</option>
<option value="Arquiteto" {% if compare == 'Arquiteto' %}selected{% endif %}>Arquiteto</option>
<option value="Biomédico" {% if compare == 'Biomédico' %}selected{% endif %}>Biomédico</option>
<option value="Bioquímico" {% if compare == 'Bioquímico' %}selected{% endif %}>Bioquímico</option>
<option value="Biotecnólogo" {% if compare == 'Biotecnólogo' %}selected{% endif %}>Biotecnólogo</option>
<option value="Cientista da computação" {% if compare == 'Cientista da computação' %}selected{% endif %}>Cientista da computação</option>
<option value="Construtor civil" {% if compare == 'Construtor civil' %}selected{% endif %}>Construtor civil</option>
<option value="Construtor naval" {% if compare == 'Construtor naval' %}selected{% endif %}>Construtor naval</option>
<option value="Contabilista" {% if compare == 'Contabilista' %}selected{% endif %}>Contabilista</option>
<option value="Dentista" {% if compare == 'Dentista' %}selected{% endif %}>Dentista</option>
<option value="Ecologista" {% if compare == 'Ecologista' %}selected{% endif %}>Ecologista</option>
<option value="Economista" {% if compare == 'Economista' %}selected{% endif %}>Economista</option>
<option value="Educador físico" {% if compare == 'Educador físico' %}selected{% endif %}>Educador físico</option>
<option value="Enfermeiro" {% if compare == 'Enfermeiro' %}selected{% endif %}>Enfermeiro</option>
<option value="Engenheiro acústico" {% if compare == 'Engenheiro acústico' %}selected{% endif %}>Engenheiro acústico</option>
<option value="Engenheiro aeronáutico" {% if compare == 'Engenheiro aeronáutico' %}selected{% endif %}>Engenheiro aeronáutico</option>
<option value="Engenheiro agrícola" {% if compare == 'Engenheiro agrícola' %}selected{% endif %}>Engenheiro agrícola</option>
<option value="Engenheiro ambiental e sanitário" {% if compare == 'Engenheiro ambiental e sanitário' %}selected{% endif %}>Engenheiro ambiental e sanitário</option>
<option value="Engenheiro biomédico" {% if compare == 'Engenheiro biomédico' %}selected{% endif %}>Engenheiro biomédico</option>
<option value="Engenheiro civil" {% if compare == 'Engenheiro civil' %}selected{% endif %}>Engenheiro civil</option>
<option value="Engenheiro da computação" {% if compare == 'Engenheiro da computação' %}selected{% endif %}>Engenheiro da computação</option>
<option value="Engenheiro de alimentos" {% if compare == 'Engenheiro de alimentos' %}selected{% endif %}>Engenheiro de alimentos</option>
<option value="Engenheiro de biossistemas" {% if compare == 'Engenheiro de biossistemas' %}selected{% endif %}>Engenheiro de biossistemas</option>
<option value="Engenheiro de controle e automação" {% if compare == 'Engenheiro de controle e automação' %}selected{% endif %}>Engenheiro de controle e automação</option>
<option value="Engenheiro de energia" {% if compare == 'Engenheiro de energia' %}selected{% endif %}>Engenheiro de energia</option>
<option value="Engenheiro de inovação" {% if compare == 'Engenheiro de inovação' %}selected{% endif %}>Engenheiro de inovação</option>
<option value="Engenheiro de materiais" {% if compare == 'Engenheiro de materiais' %}selected{% endif %}>Engenheiro de materiais</option>
<option value="Engenheiro de minas" {% if compare == 'Engenheiro de minas' %}selected{% endif %}>Engenheiro de minas</option>
<option value="Engenheiro de pesca" {% if compare == 'Engenheiro de pesca' %}selected{% endif %}>Engenheiro de pesca</option>
<option value="Engenheiro de petróleo" {% if compare == 'Engenheiro de petróleo' %}selected{% endif %}>Engenheiro de petróleo</option>
<option value="Engenheiro de produção" {% if compare == 'Engenheiro de produção' %}selected{% endif %}>Engenheiro de produção</option>
<option value="Engenheiro de segurança do trabalho" {% if compare == 'Engenheiro de segurança do trabalho' %}selected{% endif %}>Engenheiro de segurança do trabalho</option>
<option value="Engenheiro de sistemas" {% if compare == 'Engenheiro de sistemas' %}selected{% endif %}>Engenheiro de sistemas</option>
<option value="Engenheiro de software" {% if compare == 'Engenheiro de software' %}selected{% endif %}>Engenheiro de software</option>
<option value="Engenheiro de telecomunicações" {% if compare == 'Engenheiro de telecomunicações' %}selected{% endif %}>Engenheiro de telecomunicações</option>
<option value="Engenheiro de transporte e mobilidade" {% if compare == 'Engenheiro de transporte e mobilidade' %}selected{% endif %}>Engenheiro de transporte e mobilidade</option>
<option value="Engenheiro eletrônico" {% if compare == 'Engenheiro eletrônico' %}selected{% endif %}>Engenheiro eletrônico</option>
<option value="Engenheiro elétrico" {% if compare == 'Engenheiro elétrico' %}selected{% endif %}>Engenheiro elétrico</option>
<option value="Engenheiro florestal" {% if compare == 'Engenheiro florestal' %}selected{% endif %}>Engenheiro florestal</option>
<option value="Engenheiro físico" {% if compare == 'Engenheiro físico' %}selected{% endif %}>Engenheiro físico</option>
<option value="Engenheiro hídrico" {% if compare == 'Engenheiro hídrico' %}selected{% endif %}>Engenheiro hídrico</option>
<option value="Engenheiro mecatrônico" {% if compare == 'Engenheiro mecatrônico' %}selected{% endif %}>Engenheiro mecatrônico</option>
<option value="Engenheiro mecânico" {% if compare == 'Engenheiro mecânico' %}selected{% endif %}>Engenheiro mecânico</option>
<option value="Engenheiro naval" {% if compare == 'Engenheiro naval' %}selected{% endif %}>Engenheiro naval</option>
<option value="Engenheiro químico" {% if compare == 'Engenheiro químico' %}selected{% endif %}>Engenheiro químico</option>
<option value="Especialista em comércio exterior" {% if compare == 'Especialista em comércio exterior' %}selected{% endif %}>Especialista em comércio exterior</option>
<option value="Esteticista" {% if compare == 'Esteticista' %}selected{% endif %}>Esteticista</option>
<option value="Farmacêutico" {% if compare == 'Farmacêutico' %}selected{% endif %}>Farmacêutico</option>
<option value="Fisioterapeuta" {% if compare == 'Fisioterapeuta' %}selected{% endif %}>Fisioterapeuta</option>
<option value="Fonoaudiólogo" {% if compare == 'Fonoaudiólogo' %}selected{% endif %}>Fonoaudiólogo</option>
<option value="Fotografo" {% if compare == 'Fotografo' %}selected{% endif %}>Fotografo</option>
<option value="Geofísico" {% if compare == 'Geofísico' %}selected{% endif %}>Geofísico</option>
<option value="Gestor ambiental" {% if compare == 'Gestor ambiental' %}selected{% endif %}>Gestor ambiental</option>
<option value="Gestor da qualidade" {% if compare == 'Gestor da qualidade' %}selected{% endif %}>Gestor da qualidade</option>
<option value="Gestor de recursos humanos" {% if compare == 'Gestor de recursos humanos' %}selected{% endif %}>Gestor de recursos humanos</option>
<option value="Gestor de turismo" {% if compare == 'Gestor de turismo' %}selected{% endif %}>Gestor de turismo</option>
<option value="Gestor hospitalar" {% if compare == 'Gestor hospitalar' %}selected{% endif %}>Gestor hospitalar</option>
<option value="Gestor público" {% if compare == 'Gestor público' %}selected{% endif %}>Gestor público</option>
<option value="Geólogo" {% if compare == 'Geólogo' %}selected{% endif %}>Geólogo</option>
<option value="Hoteleiro" {% if compare == 'Hoteleiro' %}selected{% endif %}>Hoteleiro</option>
<option value="Jornalista" {% if compare == 'Jornalista' %}selected{% endif %}>Jornalista</option>
<option value="Linguista" {% if compare == 'Linguista' %}selected{% endif %}>Linguista</option>
<option value="Meteorologista" {% if compare == 'Meteorologista' %}selected{% endif %}>Meteorologista</option>
<option value="Minerador" {% if compare == 'Minerador' %}selected{% endif %}>Minerador</option>
<option value="Médico" {% if compare == 'Médico' %}selected{% endif %}>Médico</option>
<option value="Nutricionista" {% if compare == 'Nutricionista' %}selected{% endif %}>Nutricionista</option>
<option value="Oceanógrafo" {% if compare == 'Oceanógrafo' %}selected{% endif %}>Oceanógrafo</option>
<option value="Pedagogo" {% if compare == 'Pedagogo' %}selected{% endif %}>Pedagogo</option>
<option value="Psicólogo" {% if compare == 'Psicólogo' %}selected{% endif %}>Psicólogo</option>
<option value="Publicitário" {% if compare == 'Publicitário' %}selected{% endif %}>Publicitário</option>
<option value="Radialista" {% if compare == 'Radialista' %}selected{% endif %}>Radialista</option>
<option value="Radiologista" {% if compare == 'Radiologista' %}selected{% endif %}>Radiologista</option>
<option value="Turismólogo" {% if compare == 'Turismólogo' %}selected{% endif %}>Turismólogo</option>
<option value="Veterinário" {% if compare == 'Veterinário' %}selected{% endif %}>Veterinário</option>
<option value="Zootecnólogo" {% if compare == 'Zootecnólogo' %}selected{% endif %}>Zootecnólogo</option>