<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example" id="barra">
  <div class="container-fluid">
    {% include 'components/logo-svg.html' %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0 w-100 flex-nowrap">
        <style>
          .nav-item {
            white-space: nowrap !important;
          }
        </style>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'core:refugiado_list' %}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core:refugiado_new' %}">Cadastrar refugiado(a)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:refugiado_list' %}">Ver todos(as)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:report_geral' %}">Relatórios</a>
        </li>
        <li class="nav-item w-100 text-end">
            <a class="nav-link" href="{% url 'core:logout' %}" style="margin-right: 24px;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .svm-logo {
    background-color: #005281 !important;
    background-blend-mode: multiply;
    width: 200px !important;
    height: 64px !important;
  }
  .navbar {
    background-color: #005281 !important;
  }
</style>